.welcome-container {
    width: 95%;
    height: 90vh;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border: 1px solid black;
    background: rgb(250, 250, 250);
    text-align: center;
}

.welcome-animation {
    /* animation: danceAway 2s ease; */
    display: none;
}

.welcome-header {
    font-size: 3em;
}

.welcome-text {
    width: 70%;
    margin: 2em auto;
    font-size: 1.5em;
}

.welcome-button {
    all: unset;
    font-size: 1.5em;
    border: 1px solid black;
    padding: 1em;
    border-radius: 45px;
}

.welcome-button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

@keyframes danceAway {
    0% { transform: scale(1) translateY(0); }
    50% { transform: scale(1.5) translateY(-50%); }
    100% { transform: scale(0.5) translateY(-200%); opacity: 0; }
}